* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b1b1b;
    font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

:root {
    --blue: #005da6;
}

html {
    font-size: 16px;
}

/* @media screen and (max-width: 992px) {
    html {
        font-size: 15px;
    }
} */

body {
    overflow-x: hidden;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

@media screen and (max-width: 600px) {
    section {
        align-items: flex-start;
    }
}

.form-container {
    max-width: 440px;
    width: 100%;
    background-color: #fff;
    padding: 2.5rem; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .form-container {
        box-shadow: none;
        padding: 2rem; 
    }
}

@media screen and (max-width: 425px) {
    .form-container {
        box-shadow: none;
        padding: 2rem 0; 
    }
}

.img {
    line-height: 1.25rem;
}

.form-header {
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 600;
}

.input-div {
    margin: .5rem 0;
}

.form-control {
    display: flex;
    align-items: center;
    border: none;
    font-size: .9rem;
    background-color: transparent;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
}

.new-account {
    margin-top: .8rem;
    display: flex;
    gap: .2rem;
    align-items: center;
    font-size: .8rem;
}

.new-link {
    color: var(--blue);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .new-link {
        color: #666;
        text-decoration: underline;
    }

}

.scenes {
    display: flex;
    overflow: hidden;

}

.scene {
    width: 100%;
    position: absolute;
    transform: translateX(var(--offset));
    opacity: 0;
    /* transition: opacity .4s ease, transform .4s ease; */
    transition: all .4s;
    pointer-events: none;
}

.scene.active {
    position: relative;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.error-message {
    display: none;
    color: #f00;
    padding: .1rem 0;
    font-size: .8rem;
}

.error-message.info {
    color: rgb(15, 152, 238);
}

.error-message.show {
    display: block;
}

.new-link:hover {
    color: #666;
    text-decoration: underline;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4rem;
    margin-bottom: 1rem;
    gap: .3rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem 2rem;
    background-color: var(--blue);
    color: #fff;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.btn.gray {
    background-color: #666;
}

.sign-options {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: .4rem 24px;
    font-size: 300;
    gap: .5rem;
    font-size: .9rem;
    border: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
}

.sign-options:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sign-options svg {
    width: 32px;
    height: 32px;
}
.email-field {
    color: #666;
    font-size: .9rem;
}

.flex.back {
    display: flex;
    padding: .5rem 0;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    background-color: transparent;
    padding: .1rem;
    border-radius: 50%;
}

.icon:hover {
    background-color: gainsboro;
}

footer {
    padding: .5rem 0;
}

@media screen and (max-width: 767px) {
    footer {
        padding: .5rem 2rem;
    }
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}


@media screen and (max-width: 767px) {
    .footer-item {
        justify-content: flex-start;
    }
}

.footer-item a{
    display: flex;
    text-decoration: none;
    font-size: .8rem;
    padding: .3rem .2rem;
}

.footer-item:not(:last-child) a:hover{
    text-decoration: underline;
}

.footer-item a:active{
    border: 1px dotted #000;
}

.loader {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
}

.loader.show {
    display: flex;
}

.loader::after {
    content: "";
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 3px solid #ddd;
    border-top-color: var(--blue);
    animation: rotate .5s linear infinite

}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}